// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 1200px
	margin 0 auto
	@media (max-width: 1200px) 
		padding 0 10px

.mobile 
	display none
	@media (max-width:480px)
		display:block
.tablet
	display none
	@media (max-width:768px)
		display:block


// футер к низу

body 
	display flex
	flex-direction column


.main 
	flex 1
