section.present 
    .container
        .present__title Мозаика
        .present__content 
            .present__arrow.arrow_back
                img(src="app/img/content/arrow-slider.png", alt="")
            .present__slider
                .slider__item 
                    .slider__item-wrp.slider_row
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                    .slider__item-wrp
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                    .slider__item-wrp.big-image 
                        .slider__item-image.big-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                    .slider__item-wrp
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                .slider__item 
                    .slider__item-wrp
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                    .slider__item-wrp.big-image 
                        .slider__item-image.big-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                    .slider__item-wrp
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                    .slider__item-wrp.slider_row
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
                        .slider__item-image 
                            .slider__item-image-wrp
                                img(src="app/img/content/mozaika.jpg", alt="")
            .present__arrow.arrow_next
                img(src="app/img/content/arrow-slider.png", alt="")
        p.present__desc
            span.desc__text.with_margin.text_uppercase Мы ни за что <b>не покажем вам</b> все 1000 наименований мозаики
            span.desc__text Выбирайте материалы для ремонта <b>вживую в наших магазинах</b>,<br> чтобы результат превзошел ожидания! 
    .container.present_adaptive
        .present__title Мозаика
        .present__content
            .slider__item-wrp.big_item
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")
            p.present__desc.mobile
                span.desc__text.with_margin.text_uppercase Мы ни за что <b>не покажем вам</b> все 1000 наименований мозаики
                span.desc__text Выбирайте материалы для ремонта <b>вживую в наших магазинах</b>,<br> чтобы результат превзошел ожидания! 
            .slider__item-wrp
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")
            .slider__item-wrp
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")                        
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")   
            .slider__item-wrp.big_item
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")
            .slider__item-wrp
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")
            .slider__item-wrp
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")                        
                .slider__item-image 
                        img(src="app/img/content/mozaika.jpg", alt="")                      

.present__popup
    .present__popup-content
            
        .present__popup-slider-wrp
            .present__popup-slider-content
                .present__popup-arrow.arrow_back 
                    img(src="app/img/content/arrow-popup.png", alt="") 
                .present__popup-slider
                .present__popup-exit
                    img(src="app/img/content/popup-close.png", alt="")
                .present__popup-arrow.arrow_next 
                    img(src="app/img/content/arrow-popup.png", alt="")
            p.present__desc
                span.desc__text.with_margin.text_uppercase Мы <b> ни за что не покажем вам</b> все 1000 наименований мозаики
                span.desc__text.text_light Выбирайте плитку вживую <b>в наших магазинах</b>, чтобы результат превзошел ожидания! 
